<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas App</title>
  </head>
  <body>
    <header>
      <h1>Preguntas App</h1>
    </header>
    <main>
      {% if latest_question_list %}
        <ul class="question-list">
          {% for question in latest_question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No polls are available</p>
      {% endif %}
    </main>
    <footer>
      <a href="https://github.com/Crissdot" target="_blank">Github</a>
    </footer>
  </body>
</html>
